.container{
    width: 100%;
    margin: auto;
   
}

.centercalc
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border: solid;
    border-radius: 10px;
    background-color: snow;
    text-align: center
}

.centercalc h1 {
    font-family: Helvetica ,sans-serif;
}