.container{
    width: 100%;
    margin: auto;
   
}

.centercalc
{
    
    margin-top: 10%;
    border: solid;
    border-radius: 10px;
    background-color: snow;
    text-align: center
}

.centercalc h3 {
    font-family: Helvetica ,sans-serif;
    margin: 2%;
}

.centercalc input {
    margin: 2px;
}

.centercalc label {
    margin: 2px;
    display: block;
}

.centercalc h6 {
    margin: 10px;
    
}